<h3 class="text-center">表单示例</h3>
<div class="container" [hidden]="submitted">
    <form autocomplete="off" novalidate (submit)="createLesson()">
        <fieldset>
            <legend>新建课程表单</legend>
            <div class="form-group">
                <label>标题：</label>
                <input type="text" name="title" [(ngModel)]="lesson.title">
            </div>
            <div class="form-group">
                <label for="language">语言：</label>
                <select id="language" name="language" [(ngModel)]="lesson.language" required>
                    <option *ngFor="let lan of languages" [value]="lan">{{lan}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>时长：</label>
                <input type="text" name="duration" [(ngModel)]="lesson.duration">
            </div>
            <div class="form-group">
                <label >描述：</label>
                <textarea name="description" cols="20" rows="5" [(ngModel)]="lesson.description"></textarea>
            </div>
            <div class="form-group">
                <label>级别：</label>
                <input type="radio" name="level" value="0" [(ngModel)]="lesson.level">初级
                <input type="radio" name="level" value="1" [(ngModel)]="lesson.level">高级
            </div>
        </fieldset>
        <p>
            <button class="btn btn-default" type="submit">创建课程</button>
        </p>
    </form>

    <div class="debug">
        <h3>课程Debug输出值:</h3>
        {{lesson | json}}
    </div>
</div>

<div class="container">
    <div [hidden]="!submitted">
        <h2>新建的课程为:</h2>
        <div class="row">
            <div class="col-xs-3">标题</div>
            <div class="col-xs-9  pull-left">{{ lesson.title}}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">语言</div>
            <div class="col-xs-9 pull-left">{{lesson.language}}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">时长</div>
            <div class="col-xs-9 pull-left">{{lesson.duration}}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">描述</div>
            <div class="col-xs-9 pull-left">{{lesson.description}}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">级别</div>
            <div class="col-xs-9 pull-left">{{lesson._level}}</div>
        </div>
        <br>
        <button class="btn btn-default" (click)="submitted=false">编辑</button>
    </div>
</div>