
/helloworld/typings
/helloworld/node_modules
.idea
npm-debug.log
/routerdemo/typings
/routerdemo/node_modules
/spotify-music/node_modules/
/spotify-music/typings/
/spotifymusic/node_modules/
/spotifymusic/typings/
/lesson1/node_modules/
/lesson1/typings/
/lesson2-form/node_modules/
/lesson2-form/typings/
