.media-left{
    background:gray;
    padding:20px;
}
.media-body{
    padding-left:20px;
}

.thumbsup,.thumbsdown{
    display: inline-block;
    margin:6px 6px;
    padding:6px;
    border:1px solid;
    text-decoration: none;
}

.thumbsup{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.thumbsdown{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.num{
    font-size:36px;
}