<h3 class="page-footer text-center">关于Spotify</h3>
<div class="container">
    <p>
        Spotify是全球最大的正版流媒体音乐服务平台，2008年10月在瑞典首都斯德哥尔摩正式上线。Spotify提供的服务分为免费和付费两种，免费用户在使用Spotify的服务时将被插播一定的广告。而付费用户则没有广告，且可以拥有更好的音质，在移动设备上使用时也可以拥有所有的功能。截止到2015年1月，Spotify已经拥有超过6000万的用户，其中1500万为付费用户。
    </p>
    <br>
    <p>
        Spotify在早期使用P2P技术来加速自己音乐的缓冲，但Spotify之后在全球布局了更多的服务器和带宽，因此P2P技术已经停用[1]  。
    </p>
    <br>
    <p>
        Spotify已经得到了华纳音乐、索尼、百代等全球几大唱片公司的支持，其所提供的音乐都是正版的，不过Spotify只提供在线收听，不能下载音乐。这款软件除了可以在电脑上使用外，也可以在手机上使用。苹果的iTunes使用的是付费下载模式，与其相比Spotify操作流畅、使用方式更加简便，可选择曲目也多出不少，最重要的是：Spotify是可以免费使用的。如此一来，这种不用花钱又不存在法律和道德风险的网络音乐传播方式，自然大受欢迎。
    </p>
    <br>
    <p>
        由于国内运营网络视听产品需要取得网络视听许可证，对于外资的涉入也限制颇多，因此Spotify暂未进入大陆市场。部分华文媒体将Spotify译为“声破天”。
    </p>
</div>